

.card {
    cursor: pointer;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 0.3rem 0.3rem 0.5rem 0.3rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem 1rem;
    transition: all 0.2s ease;
    width: 120px;
    height: 270px;
}

.card_image:hover {
    transform: scale(1.1);
}

.card_image {
    width: 100px;
    height: 100px; 
    margin-left: 10px;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_info {
    margin-top: 1rem;
}

.card_info h4 {
    margin-bottom: 10px;
    color: black;
}

.card_info h4 {
    color: #272727;
}